<h1>Music Artists</h1>

<table>
  <tr>
    <th>Name:</th>
    <th>Picture:</th>
    <th></th>
  </tr>
 
  <% @artist.each do |artist| %>
    <tr>
      <td><%= artist.name %></td>
      <td><img src=<%= artist.image_url %> alt="pic" height="124" width="84"></td>
      <td><%= link_to 'Show', artist_path(artist) %></td>
    </tr>
  <% end %>
</table>